* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
    max-width: 1800px;
    margin: 0 auto;
}

.top-media {
  display: flex;
  font-size: 40px;
  padding-left: 90%;
  padding-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 3px 3px grey;
  justify-content: space-evenly;
  &__link{
    color:#333;
  }
  @media (max-width:799px){
    padding-left: 70%;
  }
}
.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  @media(max-width: 799px){
  position: fixed;
  top:25px;
  left:100%;
  // top:25px;
  // left:20%;
  height: 100%;
  flex-direction: column;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  }
}

.menu__element {
display: flex;
width: 17%;
@media (max-width:799px) {
  width: 80%;
}
}

.menu__link { 
  display: block;
  text-align: center;
  width: 100%;
  background-color: white;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: arial;
  transition: .2s;
  border: 2px solid #333;
  padding: 15px 20px;
  @media (max-width:799px){
    border: none;
    border-bottom: 1px solid #222;
    margin: 0 15px;
  }
  &:hover{
 /* font-weight: 900; */
 background-color: #333;
 color: white;
  }
}

.menu__close {
  display: none;
  @media (max-width:799px) {
    display: block;
    position: absolute;
    top:5%;
    right:25%;
    font-size: 50px;
    cursor: pointer;
    color: #222;
  }

}


.header{
  height: 400px;
  position: relative;
  &__logo{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
  }
  &__menu {
    display: none;
    @media(max-width:799px){
    display: block;
    position: absolute;
    top:25px;
    right:25px;
    font-size: 30px;
    }
    
  }
}

.sections {
  display: flex;
  justify-content: center;
  height: 50vh;
  margin: 30px 0;;
}

.footer {
  padding: 5px 0px 5px 30px;
  background-color: #333;
  color: white;
}
